body {
    font-family: "Nunito Sans", sans-serif;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    font-size: 1.15rem;
    font-weight: 600;
    color:#000;
  }
  
  .btn {
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    padding: 0.75rem 1.5rem;
    font-size: 1.15rem;
    font-weight: 600;
    color: #000;
    background: #c7dca7;
    border-radius: 0.66rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1.5rem -0.5rem currentColor;
  }
  
  .btn:hover,
  .btn:focus {
    box-shadow: 0 0 0 2px #2e2e48, 0 0 0 4px #fafafc;
  }
  
  .btn:active {
    transform: scale(0.95);
  }
  
  .HeroSection {
    text-align: center;
    background-size: cover;
    border-radius: 1.5rem;
    height: fit-content;
    padding-top: 20px;
  
  }

.HeroSection img {
    height: 100px !important;
    float: none;
}

  .column-container {
    display: flex; 
    justify-content: center; 
    align-items: center;

  }