.navbar {
    overflow: hidden;
    background-color: #FFC5C5;
  }
  
  .navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px;
  }
  
  .navbar a:hover {
    background-color: #C7DCA7;
    color: black;
  }

  img{
  
    height: 50px;
    float: left;
  }